# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.tsbuildinfo

# Coverage
coverage/

# Environment variables — JANGAN PERNAH commit file ini
.env
.env.local
.env.development
.env.test
.env.production
.env.staging

# Prisma
prisma/migrations/*.sql.bak

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Crypto keys / certificates — JANGAN commit
*.pem
*.key
*.p12
*.pfx
*.crt
*.csr

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/settings.json
.idea/
*.swp
*.swo

# Temp
tmp/
temp/

